*,
*::before,
*::after {
        box-sizing: border-box;
}
:root {
        --primary-text-color:#212121;
        --background-color:#F5F5F5;
        --aditional-color: #ffffff;
        --accent-text-color:#757575;
        --button-active-color:#2196F3;
}
body {
    font-family: Roboto,sans-serif;
    font-style: normal;
        font-weight: 400;
    color:var(--primary-text-color);
    background-color: var(--background-color);
}
h1,
h2,
h3,
h4,
p,
ul {
        margin: 0;
}
.conteiner {
        width: 100%;
        max-width: 1200px;
        margin: 0 200px 94px 200px;
        padding: 0 15px;
        outline: 2px solid tomato;
}
.conteiner:nth-child(4) {
        margin-bottom: 0;
}

/*Навігація*/
.conteiner-header {
        margin: 0 200px;
        width: 100%;
        max-width: 1200px;
        padding: 0 15px;
        border-bottom: 1px solid #ECECEC;
        outline: 2px solid tomato;
}
.logo {
        width: 145px;
        height: 31px;
        left: 215px;
        top: 24px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        color: var(--button-active-color);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        text-decoration: none;
        margin: 24px 93px 25px 0;
}
.logo:hover {
color: var(--button-active-color);
}
.page-header .studio {
    color: var(--primary-text-color);
}
.site-nav {
        display: flex;
}

.site-nav .list:not(:last-child) {
        margin-right: 50px;       
}
.site-nav .list+ .list {
margin-left: 0;
}
.site-nav .link {
        display: block;
                font-weight: 500;
                font-size: 14px;
                line-height: 1.14;
                letter-spacing: 0.02em;
                color: var(--primary-text-color);
                text-decoration: none;
                padding-top: 32px;
                padding-bottom: 32px;
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--button-active-color);
}
.site-nav .link .current {
        color: var(--button-active-color);
}
/*Контакти*/
.auth-nav {
        display: block;
    color: var(--accent-text-color);
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
letter-spacing: 0.02em;
    text-decoration: none;
}
.auth-nav:hover,
.auth-nav:focus {
        color:var(--button-active-color);
}
.site-auth {
        display:flex;
}
/*Головна сторінка*/
.main-conteiner {
        width: 100%;
        min-width: 1600px;
        margin-bottom: 94px;
        outline: 2px solid tomato;
        
}
.main-title {
                font-weight: 900;
                font-size: 44px;
                line-height: 1.36;
                text-align: center;
                letter-spacing: 0.06em;
                text-transform: uppercase;
                color: var(--aditional-color);
                border: 1px solid #000000;
}
.order-button {
        font-family: Roboto;
        font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 1.88;
        background-color: var(--button-active-color);
        color: var(--aditional-color);
        cursor: pointer;
}
.order-button:hover,
.order-button:active,
.order-button:focus {
        background-color: var(--accent-text-color);
        color: var(--aditional-color);
}
.main-background {
        background: #2F303A;
        width: 100%;
        min-width: 1600px;
}
.section {
        outline: 2px solid tomato;
}
.section-title {
                font-weight: 700;
                font-size: 36px;
                line-height: 1.17;
                text-align: center;
                letter-spacing: 0.03em;
                color: var(--primary-text-color);
}
.section-subtitle {
        font-weight: 700;
                font-size: 14px;
                line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--primary-text-color);
}
.section-text {
                font-size: 16px;
                line-height: 1.71;
                letter-spacing: 0.03em;
                color: var(--accent-text-color);
}
/*Footer*/
.conteiner-footer {
                margin: 0 200px;
                width: 100%;
                max-width: 1200px;
                padding: 0 15px;
                outline: 2px solid tomato;
}
.page-footer .studio {
        color: var(--aditional-color);
}
.place {
            font-size: 14px;
            font-style: normal;
            line-height: 1.71;
            letter-spacing: 0.03em;
            color: var(--aditional-color);
            text-decoration: none;
}
 .email {
        font-size: 14px;
        font-style: normal;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;
}
.phone {
        font-size: 14px;
        font-style: normal;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;
}
.page-footer {
        background-color: #2F303A;
        width: 1600px;
        left: 0px;
        top: 2094px;     
}
.address a:focus,
.address a:hover {
  color: var(--button-active-color);
}
/*Portfolio*/
.portfolio-conteiner {
width: 100%;
        max-width: 1200px;
        margin: 94px 200px;
        padding: 0 15px;
        outline: 2px solid tomato;
}
.filter {
        font-family: Roboto;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.63;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
        background-color: #F5F4FA
}
.list {
        list-style: none;
}
.filter:hover,
.filter:focus,
.filter:active {
    color: var(--aditional-color);
    background-color: var(--button-active-color);
}
.button {
        cursor: pointer;
}
.portfolio-body {
    background-color: var(--background-color);
}
.examples h2 {
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--primary-text-color);
        text-decoration: none;
}
.examples p {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--accent-text-color);
}
.link {
        text-decoration: none;
}



 
