*,
*::before,
*::after {
        box-sizing: border-box;
}
:root {
        --primary-text-color:#212121;
        --background-color:#F5F5F5;
        --aditional-color: #ffffff;
        --accent-text-color:#757575;
        --button-active-color:#2196F3;
}
body {
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 400;
    color:var(--primary-text-color);
}
h1,
h2,
h3,
h4,
p,
ul {
        margin: 0;
}
.conteiner {
        display: flex;
        width: 1200px;
        padding: 0 15px; 
        margin: 0 auto;   
}
section {
        padding-bottom: 94px;
        width: auto;
}
.section-portfolio {
        width: auto;
        padding: 94px 0;
} 
.section-hero {
        padding: 184px 0 94px 0;
        width: auto;
}
/*Навігація*/
.page-header {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 15px;
        border-bottom: 1px solid #ECECEC;
}
.main-nav {
        display: flex;
        align-items: center;
        padding: 0 auto;
}
.logo-header {
        display: flex;
        width: 145px;
        margin: 24px 93px 25px 0;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        color: var(--button-active-color);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        text-decoration: none;
}
.logo-header .logo-footer:hover {
        color: var(--button-active-color);
}
 .page-header .studio {
        color: var(--primary-text-color); 
}
.site-nav {
        display: flex;
        align-items: center;
        width: 281px;
        padding-left: 0;
        margin-left: 0;
        list-style: none; 
}
.site-nav .item {
        display: flex;
        display: block;
}
.site-nav .item:not(:last-child) {
        margin-right: 50px;
}
.site-nav .item+.item {
        margin-left: 0;
}
.site-nav .link {
        display: block;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
        text-decoration: none;
        padding-top: 32px;
        padding-bottom: 32px;       
}
.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link:active {
        color: var(--button-active-color);
}
.site-nav .link:current {
        color: var(--button-active-color);
}
/*Контакти*/
.site-auth .link {
        display: block;
        color: var(--accent-text-color);
        font-size: 14px;
        line-height: 1.14;
        font-weight: 500;
        letter-spacing: 0.02em;
        text-decoration: none;
}
.site-auth .item {
        list-style: none;
}
.site-auth .link:hover,
.site-auth .link:focus {
        color:var(--button-active-color);
}
.site-auth {
        display: flex;
        padding: 0;
        margin-left: auto;
        align-items: center;
}
.site-auth .item + .item {
        margin-left: 50px;
} 
/*Головна сторінка*/
.conteiner-hero {
        width: 1600px;
        height: 600px;
        padding-top: 140px;
        text-align: center;
        background-color: #2F303A;;
}
.main-title {
        display: block;
        margin: 140px auto 30px auto;
        width: 696px;
        height: 120px;
        width: 696px;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        align-items: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
         color: var(--aditional-color);
        border: 1px solid #000000;
}
.order-button {
        display: block;
        margin: 0 auto 260px auto;
        min-width: 216px;
        height: 50px;
        padding: 10px 32px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        color: var(--aditional-color);
        background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        cursor: pointer;
}
.order-button:hover,
.order-button:active,
.order-button:focus {
        background: #188CE8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        color: var(--aditional-color);
}
.title section {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
        margin-bottom: 50px;
}
.title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--primary-text-color);
        margin-bottom: 10px;
}
.text {
        font-size: 14px;
        line-height: 2;
        letter-spacing: 0.03em;
        color: var(--accent-text-color);
}
.visually-hidden {
        position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0000);
        clip-path: inset(50%);
        margin: -1px;
}
.features {
        display: flex;
        padding: 0;
}
.features:not(:last-child) {
        margin-right: 30px;
}
.activities {
        display: flex;
        padding: 0;
}
.activities-list:not(:last-child) {
        margin-right: 30px;
}
.activities-list {
        display: block;
        display: flex;
        list-style: none;
}
.example1,
.example2,
.example3 {
        max-width: 100%;
        height: auto;
        display: block;
        display: flex;
}     
.staff {
        display: flex;
        padding: 0;
}
.staff-list:not(:last-child) {
        margin-right: 30px;
}
.staff-list {
        list-style: none;
        background: var(--aditional-color);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
}
.card-text {
        padding-top: 30px;
        padding-bottom: 30px;
}
.staff-name {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
        margin-top: 30px;
        margin-bottom: 10px;
}
.position {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 30px;
        color: var(--accent-text-color);
}
/*Footer*/
.page-footer {
        padding: 60px 15px 60px 15px;
        width: 1200px;
        margin: 0 auto;
        background-color: #2F303A;
}
.logo-footer {
        display: flex;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        color: var(--button-active-color);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        text-decoration: none;
}
.page-footer .studio {
        color: var(--aditional-color);
}
.address-list {
        padding-left: 0;
        margin-top: 20px;
}
.list:not(:last-child) {
        margin-bottom: 9px;
}
.place {
        font-size: 14px;
        font-style: normal;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--aditional-color);
        text-decoration: none;
        
}
 .email {
        font-size: 14px;
        font-style: normal;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;
}
.phone {
        font-size: 14px;
        font-style: normal;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;
}
.address a:focus,
.address a:hover {
  color: var(--button-active-color);
}
/*Portfolio*/
.filter {
        margin-right: 8px;
        padding: 6px 22px;
        font-family: Roboto;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.63;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
        background-color: #F5F4FA;
        border-radius: 4px;
        border-width: 0;
}
.filter-all {
        margin-right: 8px;
        padding: 6px 25px;
        font-family: Roboto;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.63;
        letter-spacing: 0.03em;
        background-color: var(--button-active-color);
        color: var(--aditional-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        border: 0;
}
.filters {
        display: flex;
        justify-content: center; 
        padding: 0; 
        margin-bottom: 50px;
}
.list {
        list-style: none;
}
.filter:hover,
.filter:focus,
.filter:active {
        color: var(--aditional-color);
        background-color: var(--button-active-color);
        border-radius: 4px;
}
.filter-all:hover,
.filter-all:focus,
.filter-all:active {
        color: var(--aditional-color);
        background-color: var(--button-active-color);
}
.button {
        cursor: pointer;
}
.conteiner-examples {
        width: 1170px;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        align-items: center;
        margin: 0 auto;
}
.list-examples {
        flex-basis: calc((100% - 60px) / 3);
        background-color: var(--aditional-color);
        list-style: none;    
}
.photo {
        display: flex;
}
.example-text {
        padding: 20px 24px;
        border: 1px solid #EEEEEE;
        border-top: 0;
}
.examples h2 {
        margin-bottom: 4px;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--primary-text-color);
        text-decoration: none;
}
.examples p {
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;
        color: var(--accent-text-color);
}
.examples {
        padding-left: 0;
}
.link {
        text-decoration: none;
}



 
