body {
    font-family: Roboto;
    color:#212121;
    background-color: #F5F5F5;
}
/*Навігація*/
.logo {
        width: 145px;
        height: 31px;
        left: 215px;
        top: 24px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        color: #2196F3;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logo:hover {
color: #2196F3;
}
.page-header .studio {
    color: #212121;
}
.site-nav .link {
        font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 1.14;
                letter-spacing: 0.02em;
                color: #212121;
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: #2196F3;
}
/*Контакти*/
.auth-navm {
        color: #2196F3;
}
.auth-navt {
    color: #757575;
}
/*Головна сторінка*/
main {
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;      
}
.order-button {
position: absolute;
        width: 216px;
        height: 50px;
        left: 692px;
        top: 430px;
        background-color: #2196F3;
        color: #ffffff;
}
.main-background {
        background: #2F303A;
}
.section-title {
                font-style: normal;
                font-weight: 700;
                font-size: 36px;
                line-height: 1.17;
                text-align: center;
                letter-spacing: 0.03em;
                color: #212121;
}
.section-subtitle {
font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #212121;
}
.section-text {
        font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 1.71;
                letter-spacing: 0.03em;
                color: #757575;
}
/*Footer*/
.page-footer .studio {
        color: #FFFFFF;
}
.place {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.71;
            letter-spacing: 0.03em;
            color: #FFFFFF;
}
 .email {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
}
.phone {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
}
.page-footer {
        background-color: #2F303A;
        width: 1600px;
        height: 252px;
        left: 0px;
        top: 2094px;     
}
/*Portfolio*/
.filters {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.63;
        letter-spacing: 0.03em;
        color: #212121;
        background-color: #F5F4FA
}
.filter-1 {
    color: #FFFFFF;
    background-color: #2196F3;
}
.portfolio-body {
    background-color: #F5F5F5;
}
.examples h2 {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: #212121;
}
.examples p {
font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
}

